*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#logobar{
margin: 10px;
padding: 10px;
}
#logobar img{
    height: 60px;
    width: 60px;
}

h1{
vertical-align: top;
display: inline;
font-size: 2.7rem;
}

/*utilità*/
.container{
    margin: 150px;
}