*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



/*logo bar*/
#logobar{
background-color: white;
padding: 10px;
}
#logobar img{
    height: 60px;
    width: 60px;
}

h1{
vertical-align: top;
display: inline;
font-size: 2.7rem;
}
body{
    background-color: rgb(230, 230, 230);
}

/*utilità*/
.container{
    margin: 55px 25%;
    padding: 30px 50px;
   background-color: white;
}
.cells{
    border: 0;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.strong{
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
.removed-dots{
    list-style-type: none;
}
.true{
    border-style: solid;
    border-color: green;
    border-radius: 100%;
    border-width: thin;
    color: green;
    display: inline; 
}
.false{
    border-style: solid;
    border-color: rgb(255, 0, 0);
    border-radius: 100%;
    border-width: thin;
    color: rgb(255, 5, 5);
    display: inline; 
}


/*first cell sections*/
.input-bar{
    background-color: white;
    padding: 10px 30px;
    border-bottom-style: solid;
    border-bottom-color: rgb(245, 244, 244);
}
.task-cell-1{
    background-color: #1ca9f5;
}
.task-cell-2{
    background-color: white;
    border: 1px solid gray;
    color: gray;
};


/*lista*/
.list{
    background-color: white;
    padding: 20px 30px;
}
.list-item{
    font-size: 16px;
    padding-left: 10px;
    font-size: 17px;
    margin: 20px;
}
.apice{
    margin-top: 25px;
}


.team{
    color: white;
    width: 30px;
    display: inline;
    padding: 5px;
    border-radius: 20px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 15px;
}
.tm-blue{
    background-color: #1ca9f5;
}
.tm-purple{
    background-color: #b865c9;
}
.tm-green{
    background-color: #68b858;
}
.tm-orange{
    background-color: #d46000;
}
.tm-pink{
    background-color: #efadff;
}
.tm-peas{
    background-color: #cdff93;
}
